@inherits UmbracoViewPage

<div class="row mt-5">
    <div class="card-deck mb-3 text-center d-flex">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Free</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Tier1</li>
                    <li>Tier1</li>
                    <li>Tier1</li>
                    <li>Tier1</li>
                </ul>
                <a href="/login" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pro</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Tier2</li>
                    <li>Tier2</li>
                    <li>Tier2</li>
                    <li>Tier2</li>
                </ul>
                <a href="/login" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Enterprise</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Tier3</li>
                    <li>Tier3</li>
                    <li>Tier3</li>
                    <li>Tier3</li>
                </ul>
                <a href="/login" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</a>
            </div>
        </div>
    </div>
</div>